* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MyriadPro; 
    src: url('fonts/MYRIADPRO-REGULAR.OTF'); 
}

body {
    font-family: MyriadPro;
    width: 750px;
    margin: auto;
}

header{ 
    height: 235px;
    background-color: #2d7053;
    font-size: 30px;
    color: #ffffff;
    display: flex;
}

.logo {
    width: 140px;
    margin: 47px 38px;
}

.title {
    width: 134px;
    height: 134px;
    margin: 52px 20px;
}

.burger {
    margin: 84px 44px 83px 231px; 
}

.burg-part {
    width: 82px;
    min-height: 12px;
    background: #ffffff;
    border-radius: 10px;
}

#two {
    margin: 16px 0;
} 

.bg-img {
    background-image: url('./image/0325115cfca2f08bd19529e1d4a4396a.png');
    background-repeat: no-repeat;
    height: 466px;
    width: 750px
}

.black-sq {
    background-image: url('./image/Прямоугольник\ 3.png');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: right;
    padding-left: 9px;
    padding-bottom: 22px;
    height: 467px;
    width: 750px;
}

.btn-text {
    text-align: center;
    line-height: 75px;
    font-size: 24px;
    color: #ffffff;
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    text-transform: uppercase;
    margin: auto;
}

#btn-bg-img {
    position: relative;
    top: 345px;
}


footer {
    display: flex;
    background: #888888;
    height: 153px;
}

footer img {
    margin-top: 29px;
    margin-left: 45px;
    width: 96px;
}

.address {
    width: 199px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 184px;
    margin-top: 102px;
}

.contact {
    margin-top: 56px;
    margin-left: 38px;
    width: 144px;
}

.contact a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.contact div{
    margin-bottom: 27px;
}

.content {
    color: #00000;
    margin-left: 44px;
}

.info-photo {
    display: flex;
    height: 247px;
    margin-top: 73px;
    margin-bottom: 60px;
}

.info-photo img {
    width: 247px;
    margin-right: 75px;
}

.name {
    font-size: 36px;
    margin-top: 61px;
    margin-bottom: 29px;
}

.job {
    font-size: 24px;
}

.job-info {
    width: 590px;
    height: 166px;
    font-size: 23px;
    margin-bottom: 46px;
}

h2 {
    font-size: 36px;
    margin-bottom: 43px;
}


.reasons li {
    font-size: 24px;
}

.reasons ul {
    margin-bottom: 44px;
}

#btn-reason {
    margin: auto;
    margin-bottom: 50px;
}